body {
  margin : 0;
  color: white;
  background-color: #949fd4;
  font-size: 50px;
}

.title {
  text-align: center;
  margin-top: 150px;
}
.title-sub {
  text-align: center;
}




/**
 * 네비게이션 바
 */
.navbar {   
  display: flex;
  background-color: #2070CC;
  padding: 15px;
}

.tab {
  color: #ffffffbb;
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
  padding: 6px 12px;
  transition: color 0.3s ease, filter 0.3s ease;
}

.tab:hover {
  color: #fff; /* 마우스 오버 시 명도 감소 */
}

.tab:focus,
.tab.active {
  color: #fff; /* 선택된 탭의 스타일 변경 */
  font-weight: bold;
  filter: brightness(1.2); /* 선택된 탭의 명도 증가 */
}

.tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background: #f1c40f;
  transition: all 0.3s ease-out;
}

.tab:hover::after,
.tab:focus::after,
.tab.active::after {
  width: 80%;
}










/**
 * 버튼
 */ 

 /*
.content {
  padding: 2em 1em 5em;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
}*/

.box {
  padding: 3.0em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: left;
}

.button {
  float: left;
  min-width: 450px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 15px;

  
  background: #7986cb;
  color: #ECEFF1;
  
  font-size: 50px;
  
  letter-spacing: 2px;
  text-transform: uppercase;
  
  border: 3px solid;
}




/* 메인 버튼 */
.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff;
  border-color: #3f51b5;
}
.button--wayra.button--inverted:hover {
  color: #3f51b5;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: #3f51b5;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}




.display_flex {
  display: flex;
}

.flex_left {
  flex: 7;
}

.flex_right {
  flex: 3;
}


